.App {
 background-color: rgb(245, 245, 190);
text-align:  center;
}

.App-body {

display: grid;
grid-template-columns: repeat(10,5fr);
gap: 10px;
font-size: 2rem;
justify-content: center;
padding: 30px;
}

.f {
  background-color: pink;

}

.m{
  background-color: rgb(145, 180, 207);
}